.icon-open-table {
	background: url('./icons/normal/open-table.png') no-repeat center center;
}
.icon-open-database {
	background: url('./icons/normal/open-database.png') no-repeat center center;
}
.icon-open-excel {
	background: url('./icons/normal/open-excel.png') no-repeat center center;
}
.icon-xlsx {
	background: url('./icons/normal/xlsx.png') no-repeat center center;
}
.icon-dcm {
	background: url('./icons/normal/dcm.png') no-repeat center center;
}
.icon-item {
	background: url('./icons/normal/template.png') no-repeat center center;
}
.icon-toggle-side-panel {
	background: url('./icons/normal/side-panel.png') no-repeat center center;
}
.icon-find-files {
	background: url('./icons/normal/find-files.png') no-repeat center center;
}
.icon-run {
	background: url('./icons/normal/run.png') no-repeat center center;
}
.icon-remove-active-sheet {
	background: url('./icons/normal/small-icon/remove-sheet.png') no-repeat center center;
}